# Rust
/target
**/target

# Node
node_modules
dist
.pnpm-store
*.tsbuildinfo

# Swift / Xcode
.build
.swiftpm
DerivedData
xcuserdata
*.xcworkspace/xcuserdata

# Editor
.vscode
.idea
*.swp
.DS_Store

# Env
.env
.env.local
